<div id="updatedReview">
<div id="editReview"">
<h1>Your review has been updated!</h1>

<h1>{{detailReviews.name}}</h1>

<h4>{{detailReviews.recipe}}</h4>

<h4>{{detailReviews.cuisine}}</h4>

<h4>{{detailReviews.review}}</h4>

<h4>{{detailReviews.rating}}</h4>

</div>

</div>