<div id="updatedReview">
<div id="editReview"">
<h1>Your review has been updated! </h1>
{{!-- {{#each updateReviews}}

<h1>{{this.name}}</h1>

<h4>{{this.recipe}}</h4>

<h4>{{this.cuisine}}</h4>

<h4>{{this.review}}</h4>

<h4>{{this.rating}}</h4>
{{/each}} --}}

</div>

<ul><a href="/all-reviews">Return To Reviews</a></ul>

</div>