<div style="float: left">
<h1>Your review has been updated!</h1>

<h1>{{updateReviews.name}}</h1>

<h4>{{updateReviews.recipe}}</h4>

<h4>{{updateReviews.cuisine}}</h4>

<h4>{{updateReviews.review}}</h4>

<h4>{{updateReviews.rating}}</h4>


</div>