<div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{theRecipe.recipeImage}}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3> {{theRecipe.name}} </h3>
        <p>Created by: {{ theRecipe.creatorId }}</p>
        <br>
        <p>Created on: {{ theRecipe.created }}</p>
        <br>
        <p>Serving Size: {{ theRecipe.servings }}</p>
        <br>
        <p>Type of Food: {{ theRecipe.typeOfFood}}</p>
        <br>
        <p>List of Ingredients: {{ theRecipe.ingredientsList}}</p>
        <br>
        <p>Steps to Cook: {{ theRecipe.stepsToCook}}</p>
        <br>
        <a class="btn btn-primary" href="/recipes/{{ theRecipe._id }}/edit"> Edit your Recipe
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <form action="/recipes/{{theRecipe._id}}/delete" method="POST" class="btn btn-primary"> 
          <span class="glyphicon glyphicon-chevron-right"></span>
          <button>Delete this Recipe</button>
        </form>
      </div>
    </div>   
   
        <a href="/recipes/{{ theRecipe._id }}/edit"> Edit your Recipe </a>
        <br>
        <br>
        <a href="/recipes/{{ theRecipe._id }}/review"> Add a Review </a>
        <br>
        <br>
        <br>
        <form action="/recipes/{{theRecipe._id}}/delete" method="POST">
          
       </form>
        {{!-- <img src="{{ theRecipe.images.0.url }}" alt="" width="160px" >   --}}
    </li>

</ul>